<header >
    <div class="p-grid p-p-3">
        <div class="p-col-3">
            <img src="assets/logoipsum.svg" alt="Logomarca" />
        </div>
        <div class="p-col-4 p-mt-1">
            <products-search></products-search>
        </div>
        <div class="p-col-3 p-offset-1 p-mt-3">
            <ngshop-nav></ngshop-nav>
        </div>
        <div class="p-col-1 p-mt-2">
            <i class="pi pi-user" style="font-size: 1.5rem"></i>
            <i class="pi pi-shopping-cart p-ml-3" style="font-size: 1.5rem"></i>
        </div>
    </div>
</header>
