h4 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: var(--surface-700);
    padding: 0.5rem;
}

.footer-container {
    margin: 0 auto;
    background-color: var(--surface-300);
    height: 2rem;
    width: 25rem;
}
